<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"></meta>
</head>
<body>
  <div th:fragment="userDetail_contents">
    <div class="row">
      <div class="col-md-6">
        <div class="page-header">
          <h1 class="h2">ユーザ詳細</h1>
        </div>
        <br />
        <form class="needs-validation" th:method="post" th:action="@{/userDetail}" th:object="${signupForm}" novalidate>
          <div class="mb-3 form-group">
            <label for="userId" class="form-label">ユーザID</label>
            <input type="text" class="form-control" id="userId" placeholder="Eamil" required th:field="*{userId}" oninput="checkUserId()" readonly>
            <span id="userIdInvalidFeedback" class="invalid-feedback">ユーザIDを入力してください</span>
          </div>

          <div class="mb-3 form-group">
            <label for="password" class="form-label">パスワード</label>
            <input type="password" class="form-control" id="password" placeholder="Password" required th:field="*{password}" oninput="checkPassword()">
            <span id="passwordInvalidFeedback" class="invalid-feedback">パスワードを入力してください</span>
          </div>

          <div class="mb-3 form-group">
            <label for="userName" class="form-label">ユーザ名</label>
            <input type="text" class="form-control" id="userName" placeholder="UserName" required th:field="*{userName}">
            <span class="invalid-feedback">ユーザ名を入力してください</span>
          </div>

          <ul>
            <li th:each="error : ${#fields.detailedErrors()}">
              <span class="text-danger" th:text=${error.message}>Error message</span>
            </li>
          </ul>

          <!-- 更新ボタン -->
          <button class="btn btn-primary btn-lg pull-right" type="submit" name="update">更新</button>
          <!-- 削除ボタン -->
          <button class="btn btn-danger btn-lg" type="submit" name="delete">削除</button>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/form-validation.js}"></script>
</body>
</html>